@font-face {
    font-family: "Open Sans";
    src: url("open-sans/OpenSans-Regular.ttf")
}

body {
    font-family: Open Sans;
    background: white;
    color: black;
}

#container {
    max-width: 800px;
    margin: 0px auto;
}

.graph-block-2, .graph-block-1 {
/*     outline: 1px dotted red; */
    margin: 30px 0px;
}

.doughnut {
    width: 30% !important;
}

.doughnut .chart-label {
    margin: 10px;
}

.chart-label {
    font-size: 21px;
    margin-bottom: 15px;
}

.col-2 {
    width: 40%;
}

.inline-block {
    display: inline-block;
}

select {
    font-size: 30px;
}

.chart_label {
    text-align:center;
}

/* div {
    outline: 1px solid red;
} */

.flex {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#average-value, #median-value {
    font-size: 50px;
/*     background: yellow; */
}

#legend {
/*     position:absolute; */
}